name: Update commonpng 

on:
  push:
  workflow_dispatch:
  repository_dispatch:
    types: [update-assets]
jobs:
  prepare:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Configure Submodules to Track Branches
        run: |
          git submodule foreach '
            git checkout main || git checkout -b main
            git branch --set-upstream-to=origin/main main
          '
      - name: Configure Git Identity
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
      - name: Update Submodule References
        run: |
          submodule_paths=$(git submodule status | awk '{ print $2 }')
          for submodule in $submodule_paths; do
            git add $submodule
          done
          if git diff --cached --quiet; then
            echo "子模块已是最新状态"
          else
            git commit -m "更新子模块指针 [skip ci]"
            git push --recurse-submodules=on-demand origin HEAD
          fi
          
      - name: Download ba.env
        run: curl -sL -o ba.env https://raw.githubusercontent.com/asfu222/BACNLocalizationResources/refs/heads/main/ba.env
      
      - name: Update AssetBundles if needed
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          source ba.env
          chmod +x ./commonpng-downloader
          ./commonpng-downloader -c "$ADDRESSABLE_CATALOG_URL"

      - name: Split into subfolders
        if: steps.cache.outputs.cache-hit != 'true'
        run: python3 split_into_subfolders.py --chunks 8
        
      - name: Upload chunk 0
        uses: actions/upload-artifact@v4
        with:
          name: bundle-0
          path: |
            Android/AssetBundles/0
            iOS/AssetBundles/0

      - name: Upload chunk 1
        uses: actions/upload-artifact@v4
        with:
          name: bundle-1
          path: |
            Android/AssetBundles/1
            iOS/AssetBundles/1

      - name: Upload chunk 2
        uses: actions/upload-artifact@v4
        with:
          name: bundle-2
          path: |
            Android/AssetBundles/2
            iOS/AssetBundles/2

      - name: Upload chunk 3
        uses: actions/upload-artifact@v4
        with:
          name: bundle-3
          path: |
            Android/AssetBundles/3
            iOS/AssetBundles/3
    
      - name: Upload chunk 4
        uses: actions/upload-artifact@v4
        with:
          name: bundle-4
          path: |
            Android/AssetBundles/4
            iOS/AssetBundles/4

      - name: Upload chunk 5
        uses: actions/upload-artifact@v4
        with:
          name: bundle-5
          path: |
            Android/AssetBundles/5
            iOS/AssetBundles/5

      - name: Upload chunk 6
        uses: actions/upload-artifact@v4
        with:
          name: bundle-6
          path: |
            Android/AssetBundles/6
            iOS/AssetBundles/6
    
      - name: Upload chunk 7
        uses: actions/upload-artifact@v4
        with:
          name: bundle-7
          path: |
            Android/AssetBundles/7
            iOS/AssetBundles/7
  mod:
    needs: prepare
    runs-on: ubuntu-latest
    strategy:
      matrix:
        chunk: [0,1,2,3,4,5,6,7]
    steps: 
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          token: ${{ secrets.ASSET_REPO_TOKEN }}

      - name: Download chunk
        uses: actions/download-artifact@v4
        with:
          name: bundle-${{ matrix.chunk }}
      - uses: actions/setup-python@v6
        with:
         python-version: '3.13' 
      - name: Mod
        run: |
          pip install -r requirements.txt
          python -u main.py
      
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mod-${{ matrix.chunk }}
          path: commonpng

  merge:
    needs: mod
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.DEPLOY_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan github.com >> ~/.ssh/known_hosts
    
      - name: Clone Target
        run: |
          pip install -r requirements.txt
          git clone --depth 1 --filter=tree:0 --no-checkout git@github.com:asfu222/commonpng.git

      - name: Download all results
        uses: actions/download-artifact@v4
        with:
          pattern: mod-*
          path: commonpng
          merge-multiple: true

      - name: Setup git identity
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

      - name: Finish up
        run: |
          python lfs.py split commonpng
          cd commonpng
          git add .
          if git diff --cached --quiet; then
            echo "贴图已是最新状态"
          else
            git commit -m "更新贴图包"
            git push origin
          fi
